h1 {
    font-size: 165%;
    font-weight: normal;
}
p {
    color: blue;
}
footer p {
    color: rgb(240, 59, 89)
}
footer p {
    color: rgb(240, 59, 89)}
h1 {
    color: palevioletred;
    text-align: center;
}

header p {
    color: blue
}
header p span { 
    color: rgb(240, 59, 89)} 
.color {
    background-color: yellow;
}
.container {
    max-width: 940px;
   margin-left: auto;
   margin-right: auto;
}

.content-area {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.main {
    width: 70%;
    float: left;
}
.support {
    width: 30%;
    float: left;
}

.fix {
    clear: both;
}